@page "/editprescription/{PrescriptionId:int}"
@page "/editprescription"
@using PrescriberPoint.Domain
@using PrescriberPoint.Business.ApiContract
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Prescription</PageTitle>

<div class="container">
    <h3>Prescription</h3>
    <form @onsubmit="HandleSubmit">
        <div class="form-group">
            <label for="prescriptionName">Prescription Name:</label>
            <input id="prescriptionName" @bind="_prescription.Name" type="text" class="form-control" />
        </div>

        <div class="form-group">
            <label for="prescriptionDescription">Description:</label>
            <textarea id="prescriptionDescription" @bind="_prescription.Description" class="form-control"></textarea>
        </div>
        
        <br/>

        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>

@code {

    [Parameter]
    public int PrescriptionId { get; set; }

    private Prescription _prescription = new Prescription();

    protected override async Task OnInitializedAsync()
    {
        // ToDo: Add a prescriptionService to abstract Http calls
        if (PrescriptionId > 0)
        {
            _prescription = await Http.GetFromJsonAsync<Prescription>($"api/Prescriptions/{PrescriptionId}");
        }
    }

    private async void HandleSubmit()
    {
        if (string.IsNullOrWhiteSpace(_prescription.Name) || string.IsNullOrWhiteSpace(_prescription.Description))
        {
            // Implement your validation logic here
            return;
        }

        if (PrescriptionId > 0)
        {
            var putData = new UpdatePrescriptionRequest
            {
                Id = _prescription.Id,
                Name = _prescription.Name,
                Description = _prescription.Description
            };

            await Http.PutAsJsonAsync("api/Prescriptions", putData);
        }
        else
        {
            var postData = new CreatePrescriptionRequest
            {
                Name = _prescription.Name,
                Description = _prescription.Description
            };

            await Http.PostAsJsonAsync("api/Prescriptions", postData);
        }

        NavigationManager.NavigateTo("/prescriptions");
    }
}